# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.production
*.pem

# Hardhat/Build Artifacts
artifacts/
cache/
typechain/
typechain-types/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
